<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @basic.index %>
</p>

<p>
  <strong>Dashboard:</strong>
  <%= @basic.dashboard %>
</p>

<p>
  <strong>Login:</strong>
  <%= @basic.login %>
</p>

<%= link_to 'Edit', edit_basic_path(@basic) %> |
<%= link_to 'Back', basics_path %>
